
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Kanit&display=swap');


*{
    font-family: 'Kanit', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(201, 9, 9);
}

body{
    padding: 0;
    margin: 0;
}


.banner{
    display: flex;
    flex-direction:row;
    
}

.navbar{
    display: flex;
    align-items: center;
    padding: 10px 50px 0px 50px;
    border-radius: 0px 0px 10px 10px;
    margin-left: 50px;
}

.back{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    background-image: url(./assets/whiteback.webp);
}



.back b{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-style: italic;
    border-bottom: 3px solid rgb(201, 9, 9);
    border-radius: 5px;
}


.green{
    background-color: rgb(22, 165, 22);
    height: 100vh;
    width: 644px;
    border-radius: 10px;
    box-shadow: 0 0px 19px 5px rgb(0, 0, 0);
}

.white{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    margin-left: 4px;
    border-radius: 10px;
}

.red{
    background-color: rgb(201, 9, 9);
    height: 100vh;
    width: 650px;
    margin-left: 4px; 
    border-radius: 10px;
}

.caixa_form{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    background-image: url(./assets/carbon.jpg);
    height: 100vh;
    width: 100%;
    margin-left: 4px; 
    border-radius: 10px 0px 0px 10px;
}

a {
    color: rgb(201, 9, 9);
    text-align: center;
    text-decoration: none;
}

.caixa_form button{
    text-align: center;
    color: #010101;
    border-color:rgb(201, 9, 9);
    background-color: rgb(255, 246, 246);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-style: bold;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 5px;
}

button:hover{
    color: rgb(255, 255, 255);
    background-color: #010101;
}

.pos{
    margin-left: 50px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.msg{
    background-color: transparent;
    text-align: center;
}


input{
    font-size: 20px;
    text-align: center;
    border:2px solid rgb(201, 9, 9);
    color: black;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}