

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Kanit&display=swap');

* {
    font-family: 'Kanit', sans-serif;

}

h2 {
    font-size: 50px;
    font-style: italic;
    color: white;
    font-family: 'Bitter';
}

body {
    margin: 0;
    padding: 0;
    background-image: url(./assets/whiteback.webp);
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #ff0000;
}

.logo {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 320px;
}

.navbar {
    background-color: transparent;
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: transparent;
    padding: 10px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    z-index: 100000;
    font-family: 'Barlow';

}

a {
    position: relative;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Bitter';
}

ul {
    position: relative;
    width: 550px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-right: 40px;

}

.navbar a:hover {
    color: red;
    font-style: italic;
}

.navbar button {

    cursor: pointer;
    border-radius: 30px;
    font-size: medium;
    padding: 4px 10px;
    color: black;
    border: 2px solid red;
}



.logo a {
    font-size: 25px;
    font-style: italic;
    color: white;

}

.logo a:hover {
    font-size: 25px;
    font-style: italic;
    color: rgb(247, 0, 0);
}

.background {
    height: 100vh;
    background-color: rgb(0, 0, 0);
}


.background video {
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 20px 15px rgb(9, 9, 9);
}

.hist {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hist p {
    width: 90%;
}


.hist h2 {
    color: black;
}

.enzo {
    background-image: linear-gradient(to right, rgb(14, 14, 14), rgb(41, 16, 16));
    background-image: url(./assets/black-370118grad.png);
    color: #f0ebeb;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}


.gallery h1 {
    font-size: 20px;
    color: white;
    font-style: italic;
}

.green {
    background-color: rgb(35, 197, 35);
    padding: 5px 0px 5px 0px;
    box-shadow: 0 1px 15px 5px rgb(32, 32, 32);
}

.white {
    background-color: #dcd7d7;
    padding: 5px 0px 5px 0px;
}

.red {
    background-color: red;
    padding: 5px 0px 5px 0px;
}

.black {
    background-color: rgb(21, 21, 21);
    padding: 1px 0px 1px 0px;
}

.carousel .gallery {
    width: 100%;
    height: 100%;
}

.carousel {
    display: flex;
    flex-direction: row;

}

.lendasgt {
    background-color: rgb(21, 21, 21);
    background-image: linear-gradient(to right, rgb(14, 14, 14), rgb(41, 16, 16));
    background-image: url(./assets/black-370118grad.png);
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lendasrua {
    background-image: linear-gradient(to right, rgb(14, 14, 14), rgb(41, 16, 16));
    background-image: url(./assets/black-370118grad.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(21, 21, 21);
    padding: 5px 0px 5px 0px;
}

.carousel3 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.carousel4 .gallery {

    height: 10%;
}

.f40 {
    background-image: linear-gradient(to right, rgb(14, 14, 14), rgb(41, 16, 16));
    background-image: url(./assets/black-370118grad.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(21, 21, 21);
    padding: 5px 0px 5px 0px;
}

.f1 {
    background-image: linear-gradient(to right, rgb(14, 14, 14), rgb(41, 16, 16));
    background-image: url(./assets/black-370118grad.png);
    background-color: rgb(21, 21, 21);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0px 5px 0px;
}

.f1img {
    display: flex;
    flex-direction: row;
}

.f1img img {
    width: 50%;
    border-radius: 0;
}

.rivalries {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
    background-image: url(./assets/black-370118grad.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(21, 21, 21);
    border-radius: 0px 0px 10px 10px;
}

.rivalries h2 {
    margin-top: 40px;
}

.favs {
    /* background-image: url(./assets/black-370118grad.png); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favs h2 {
    color: black;
}

.imagens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.imagemb {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.favs img {
    border-radius: 10px;
    box-shadow: 0 1px 15px 5px rgb(67, 67, 67);
    border: 1px solid white;
}

select {
    border: 2px solid rgb(244, 20, 20);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 3px;
    font-style: bold;
    background-color: white;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
}

.favs button {
    margin-top: 50px;
    text-align: center;
    color: #ffffff;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    font-style: bold;
    font-size: 20px;
}