@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Mukta&display=swap');


*{
    font-family: 'Barlow', sans-serif;
}


body{
    margin: 0;
    padding: 0;
}

.head{
    position: fixed;
}

.logo{
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 320px;
}

.navbar{
    background-color: transparent;
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: transparent;
    padding: 5px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    z-index: 100000;

}

a {
    position:relative;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul{
    position:relative;
    width: 550px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-right: 40px;

}

.navbar a:hover{
    color: red;

}

.navbar button{

    cursor: pointer;
    border-radius: 30px;
    font-size:medium ;
    padding: 4px 10px;
    color: black;
    border: 2px solid red;
}



.logo a{
    font-size: 25px;
    font-style: italic;
    color: white;
    
}

.logo a:hover{
    font-size: 25px;
    color: rgb(247, 0, 0);
}

.banner{
    padding: 2rem 0rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner video{
    width: 100%;
    box-shadow: 0 1px 10px 75px rgba(0, 0, 0, 1);
    overflow: hidden;
}


.banner .content{
    position: absolute;
    z-index: 1;
    top: 8%;
    left: 3%;
    color: white;
}

.banner .content p{
    font-size: 70px;
}



.txt1{
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
}

.txt1 p{
    font-size: large;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #ff0000;
}

.txt2 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-style: italic;
}

.ferrari{
    display: flex;
    justify-content: center;
    background-image: url(./assets/itastripcut.png);

    }

.essere{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding-top: 0px;
    padding-right: 0rem;
    padding-bottom: 80px;
    padding-left: 5rem;
    margin-top: 30px;
    position: relative;
    box-shadow: 0 1px 15px 15px rgb(255, 255, 255);
}

.essere h1{
    font-size:76px;

}

.essere p{
    font-size: 25px;    
}

.scuderia{
    position: absolute;
    margin-left: 800px;
    margin-top: 400px;
}

.br{
    padding: 5px;
}

.ef img{
width: 100%;
height: 96%;
}

.eftxt{
    height: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 2280px;
    
}

    .eftxt h1{
        font-size: 76px;
        color: white;
        text-shadow: rgb(108, 108, 108) 1px 2px 2px;
    }

    .eftxt p{
        text-align: center;
        font-size: 23px;
        width: 90%;
        color: white;
        text-shadow: rgb(108, 108, 108) 1px 2px 2px;
    }


    .footer{ 
        position: absolute;
        width: 100%;
        display: flex;
        padding: 80px 0px 114px 0px;
        justify-content: center;
        background-image: url(./assets/carbon.jpg);
        top: 3050px;
    }

    .footertxt{
        margin-bottom: 10px;
        color: white;
        font-size: 20px;
        font-style: italic;
        border-bottom: 1px solid #ffffff;
    }
